    .meals .mealsRow {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
    }
    
    .meals .column {
        display: block;
        float: left;
        width: 350px;
        height: 130px;
        margin: 16px;
        border: solid 2px #1c2237;
        background-color: #44b7bd;
        text-align: center;
    }
    
    h2 {
        font-size: 1.5 rem;
    }
    
    button {
        border: none;
        outline: 0;
        padding: 8px;
        color: white;
        background-color: #1c2237;
        text-align: center;
        width: 40%;
    }
    
    button:hover {
        background-color: #d9744c;
    }
    
    ul {
        list-style-type: none;
    }
    
    @media screen and (max-width: 650px) {
        .meals .column {
            width: 100%;
            display: block;
        }
    }